{% extends "base.html" %}

{% block content %}
<h1></h1>
<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/drink">Напитки</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/breakfast">Завтраки</a>
    </li>
</ul>


{% if current_user.name != "admin" %}
{% for item in position %}
{% if item.active %}
{% if item.about == "Напитки"%}
<div class="row">
    <div class="col-6 col-sm-5">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h4 class="card-text">{{item.name}}</h4>
                <h4 class="card-text">{{item.price}}.руб</h4>
                <img width="260" height="200" src="{{ item.img }}" alt="ВЫ ВВЕЛИ НЕВЕРНЫЙ АДРЕСС СЫЛКИ!">
                <a href="/basket/{{ item.id }}" class="btn btn-success btn-lg">
                    в корзину
                </a>
                <a href="/like/{{ item.id }}" class="btn btn-outline-danger">
                    👍 {{ item.like }}
                </a>
                <a href="/dislike/{{ item.id }}" class="btn btn-outline-danger">
                    👎 {{ item.dislike }}
                </a>

            </div>
        </div>
    </div>
    <h1></h1>
</div>
{% endif %}

{% endif %}
{% endfor %}
{% endif %}
{% if current_user.name == "admin" %}
{% for item in position %}
{% if item.active %}
{% if item.about == "Напитки"%}
<div class="row">
    <div class="col-6 col-sm-5">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h4 class="card-text">{{item.name}}</h4>
                <h4 class="card-text">{{item.price}}.руб</h4>
                <img width="260" height="200" src="{{ item.img }}" alt="ВЫ ВВЕЛИ НЕВЕРНЫЙ АДРЕСС СЫЛКИ!">
                <a href="/basket/{{ item.id }}" class="btn btn-success btn-lg">
                    в корзину
                </a>
                <a href="/position_delete/{{ item.id }}" class="btn btn-danger btn-lg">
                    Удалить
                </a>
                <h1></h1>
                <a href="/position_hide/{{ item.id }}" class="btn btn-danger btn-lg">
                    Скрыть для пользователя
                </a>
                <a href="/like/{{ item.id }}" class="btn btn-outline-danger">
                    👍 {{ item.like }}
                </a>
                <a href="/dislike/{{ item.id }}" class="btn btn-outline-danger">
                    👎 {{ item.dislike }}
                </a>
            </div>
        </div>
    </div>
    <h1></h1>
</div>
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% if current_user.name == "admin" %}
{% for item in position %}
{% if not item.active %}
{% if item.about == "Напитки"%}
<div class="row">
    <div class="col-6 col-sm-5">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h4 class="card-text">{{item.name}}</h4>
                <h4 class="card-text">{{item.price}}.руб</h4>
                <img width="260" height="200" src="{{ item.img }}" alt="ВЫ ВВЕЛИ НЕВЕРНЫЙ АДРЕСС СЫЛКИ!">
                <a href="/basket/{{ item.id }}" class="btn btn-success btn-lg">
                    в корзину
                </a>
                <a href="/position_delete/{{ item.id }}" class="btn btn-danger btn-lg">
                    Удалить
                </a>
                <h1></h1>
                <a href="/position_hide/{{ item.id }}" class="btn btn-danger btn-lg">
                    Показать
                </a>
                <a href="/like/{{ item.id }}" class="btn btn-outline-danger">
                    👍 {{ item.like }}
                </a>
                <a href="/dislike/{{ item.id }}" class="btn btn-outline-danger">
                    👎 {{ item.dislike }}
                </a>
            </div>
        </div>
    </div>
    <h1></h1>
</div>
{% endif %}
{% endif %}
{% endfor %}
{% endif %}

{% endblock %}
