{% extends "base.html" %}

{% block content %}
<h1>Записи в блоге</h1>
<title>Меню</title>
{% for item in position%}
<div class="row">
    <div class="col-6 col-sm-5">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h4 class="card-text">{{item.name}}</h4>
                <h4 class="card-text">{{item.price}}</h4>
                <div id="myDiv">
                    <a href="{{ url_for('add_position_in_basket') }}" class="btn btn-warning btn-lg">
                        в корзину
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
